@{
    ViewData["Title"] = "Emotions Share";
}


<div>
    <canvas >
</div>


@section Styles {
    <environment names="Development,Staging,Production">

    </environment>
}


@section Scripts {
    <environment names="Development,Staging,Production">
      
    </environment>

}


