
@{
    ViewData["Title"] = "Online";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <video id="gum" autoplay muted width="800" height="600"></video>
                <video id="recorded" autoplay loop></video>
                <div>
                    <a onclick="takephoto();" id="takephotoimg" download="my-file-name.png">Take Photo</a>
                    <button id="downloadphoto">Download Photo</button>
                    <button id="record">Start Recording</button>
                    <button id="play" disabled>Play</button>
                    <button id="download" disabled>Download</button>
                    <button id="downloadaudio" disabled>Download Audio</button>
                    <button id="ws">WS Connection</button>
                </div>
                <canvas id="canvas" width="800" height="600" ></canvas>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <environment names="Development,Staging,Production">
                     
    </environment>
}


@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/js/azure-storage.common.min.js"></script>
        <script src="~/js/azure-storage.blob.min.js"></script>
        <script src="~/js/mediarecorder.js"></script>
    </environment>

}


